.listContainer {
  /* margin: 20px 50px;
  flex: 1;
  overflow-y: scroll;
  max-height: 500px; 
  background-color: antiquewhite;*/
  background-color: #061a8e;
  margin: 2vh 3vw;
  border-radius: 8px;
}

.listHeader {
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: #ffa008;
  font-weight: 700;
}

.listBody {
  /* margin: 0px 3vw; */
  flex: 1;
  overflow-y: scroll;
  max-height: 50vh;
  background-color: #061a8e;
}

.listItem {
  background-color: pink;
  display: flex;
  flex-direction: row;
  height: 50px;
  border-radius: 8px;
  margin: 10px;
  padding: 0;
}

.row1,
.row2,
.row3 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row3 {
  width: 50%;
}
